.Footer {
  height: 150px;
  margin-top: 200px;
  padding: 30px;

  display: flex;
  flex-direction: row;
  background-color: #af9185;

  &_Items {
    display: flex;
    flex-direction: column;

    width: calc(100% / 3);
    background-color: #af9185;

    &_Header {
      margin-bottom: 20px;
      background-color: #af9185;
      color: white;
    }

    &_Content {
      background-color: #af9185;
      color: white;
    }

    &_Tag {
      text-align: center;
      background-color: #659b6c;
      color: white;
    }
  }
}
