.Page {
  &_Container {
    margin-top: 50px;
    margin-bottom: 200px;
  }

  &_Image {
    display: flex;
    justify-content: center;

    margin-top: 50px;

    & img {
      width: 1000px;
      height: 500px;
    }
  }
  &_Header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #659b6c;

    &_Title {
      letter-spacing: 0.5em;
      background-color: #659b6c;
      color: white;
    }
  }
}
