.Container {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;

  &_MainHeader {
    letter-spacing: 0.5em;
    margin-bottom: 10px;
  }

  &_Items {
    margin-bottom: 20px;
  }
}
