.Info {
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;

  &_Header {
    margin: 10px;
  }

  &_Items {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    font-size: 16px;
  }

  &_Input {
    border: 1px solid grey;
    font-size: 16px;
  }
}
