.List {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &_Card {
    margin: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
